h1 {
    color: purple;
}
h2 {
    color: red
}
h3{
    color: brown
}

.header{
    background-color: pink;
    display: flex;
    justify-content: space-between;
}
p,h2{
    text-align : center;
}
p,h3{
    text-align: left;
}
body{
    background-color: blueviolet;
}